/* 
grey:292929
pink: f7484e
deep violet: 35055E
smoky black: 0A0908
light pink/purple: F0D3F7
light grey: C7CCDB
snow white: FFFCF7


 */

 * {
     box-sizing: border-box;
 }

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.name a {
    text-decoration: none;
}

.name h1{
    color: FFFCF7
}

.logo img{
    height: 80px;
    float: left;
}


body {
    font-family: 'Questrial', sans-serif;
    font-family: 'Alegreya', serif;
    font-size: 20px;
    /* don't need px for line height, it's just the multiple*/
    line-height: 1.7;
    text-align: center;
    margin: 0px;
    background:C7CCDB;
    color: 0A0908;
    padding-top: 94px;
}

h1 {
    font-family: 'Questrial';
    font-size: 64px;
    line-height: 1.3;;
}

h2 {
    font-size: 48px;
    font-family: 'Alegreya';
}
h3 {
    font-size: 36px;
    font-family: 'Alegreya';
}

p {
    font-size: 24px;
    font-family: 'Alegreya';
}


header {
    background-color: 35055E;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

    .name {
        float: left;
        padding-left: 20px;
    }

    .tabs {
        float: right;
        padding: 0px;
        color: black;
    }

    .tabs a:hover {
    color: #f7484e; 
    }

    .tabs .icon {
        display: none;
    }

    li {
        display: inline;
        padding: 0px 10px 0px 10px;
    }
   
    ul {
        padding: 0px;
    }

    .tabs a {
        color: black;
    }

.intro{
    background-color: #292929;
    color: white;
    height: 350px;;
    margin: 0;
    /* overflow: auto; */
    position: relative;
}

    .intro h2 {
        margin:0;
    }

    .intro img{
    

}

.about{
    background-color: #f7484e;
    color: white;
    margin: 0;
    height:700px;
}
    .about-icons {
        flex-direction: row;
        padding: 20px; 
    }

    .about-icons img { 
        width: 200px;
        border: 10px #292929;
        border-radius: 50%;
    }

    .about-description{
        background-color: white;
        color: black;
    }

    .about-description img { 
        width: 200px;
        border: 10px #292929;
        border-radius: 50%;
    }

.work {
    background-color: white;
    color: black;
    height: 700px;
    margin: 0;
    border: 0;
}

.clientproject-intro{
    background-image:url("../images/fee");
}

.container {
    /* width: 720px;
    margin: 0 auto; */
    color: white;
    min-height: 200px;
}

    .client-project {
        background-image:url("../images/carefreebreaks.jpg");
    }

    .feelm {
        background-image:url("../images/Feelm\ portfolio.jpg");
    }

    .splendid-housewares {
        background-image:url("../images/housewares.jpeg");
    }

    .cyclable{
        background-image:url("../images/Santander\ portfolio.jpg");
    }

    .work-sections{
        width: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        height: 25%
     }


     .casestudy-item {
        border: 1px solid white;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center; 
        width: 100%;
        margin: 0;
        border: 0;
        position: relative;
    }

    .casestudy-item .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .casestudy-item:hover .overlay {
        opacity: 1;
    }

    .overlay {
        background-color: rgba(0,0,0,0.5);
    }

    .overlay a {
        color: white;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }



.brief {
    background-color: #f7484e;
    color: white;
    margin: 0;
    height: 700px;
}

.brief-description {
    background-color: white;
    color: black;
    margin: 0;
    height: 700px;
}

.problem {
    background-color:#292929;
    color: white;
    margin: 0;
    height: 700px;
}




    .social-media {
        flex-direction: row;
        padding: 20px;
    }

    .contact-description img{
        width: 50px;
    }

    input {
        border: 1;
        margin:10px;
        padding: 10px;
        font-size: 18px;
    }

    input[type="submit"] {
        background: #f7484e;
        color: white;
        padding: 10px;
        margin: 10px;
    }

.goodbye {
    background-colour: #f7484e;
}




main ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border:0;
    padding:0;
}

main li {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: 494850;
    width: 100%;
    top: 0;
    left: 0;
}

.social-media {
    background-color: 494850;
    width: 100%;
}


 /* .casestudy-item:nth-child(2n) {
     margin-right: 0;
 } */

 

a {
    text-decoration: none;
}

button {
    color: green;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) 
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
        margin-top: 20px;
        line-height: 40px;
    }
    h2 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    div {
        margin: 20px 12px 0 12px;
    }
    p{
        font-size: 20px;
        line-height: 24px;
    }
}

    /* transition: 0.3s cubic-bezier(.1,-0.49,.51,1.43);
 }*/








